Archivos/ignore
Archivos/ignore/composer.svg
Archivos/ignore/custom f.afdesign
Archivos/ignore/custom_europe.afdesign
Archivos/ignore/custom_europe2.afdesign
Archivos/ignore/custom_map.afdesign
Archivos/ignore/custom_map.svg
Archivos/ignore/custom_map3.afdesign
Archivos/ignore/mapa-del-mundo-de-continentes-de-colores-by-Vexels (1).svg
Archivos/.DS_Store
Archivos/flags/.DS_Store
Archivos/mapamundi.afdesign
Archivos/mapamundi2.afdesign
.DS_Store
Archivos/mapa_chile.afdesign
Archivos/mapamundi.afdesign
Archivos/otroç.afdesign
Archivos/test.afdesign
Archivos/mapamundi.afdesign
Archivos/ignore/.custom f.afdesign.icloud
Archivos/ignore/.custom_europe.afdesign.icloud
Archivos/ignore/.custom_europe2.afdesign.icloud
Archivos/ignore/mapamundi3.afdesign
