/* GENERAL */

body {
    background: #000D14;
    height: 100%;
    font-family: 'Inter', sans-serif;
    max-width: 1500px;
    margin: auto;
    padding: 0 20px 0;
}

h1{
	color: white;
	font-size: 50px; 
}

.hidden {
	display: none;
}



/* PORTADA */

#inicio {
    height: 100%;
    text-align: center;
}

#titulo_portada {
    padding-top: 20%;
}

#titulo {
    text-align: center;
    margin: 150 0 75;
    font-family: 'Inter', sans-serif;
}

#botones1{
    width: 100%;
    margin-top: 75px;
    text-align: center;
    vertical-align: middle;
  }

.boton1 {
    display: inline-block;
    text-align: center;
    width: 150px;
    padding: 20px;
    border: 1px solid white;
    color: white;
    font-size: 1.5em;
}

.espaciador1 {
    display: inline-block;
    height: 10px;
    width: 160px;
}

/* CHILE */
#mapa_chile {
    padding-left: 20px;
}





/* OCDE */
