/* GENERAL */

body {
    background: #000D14;
    height: 100%;
    font-family: 'Inter', sans-serif;
    max-width: 1500px;
    margin: auto;
    padding: 0 20px 0;
}

.main{
    /* padding-top: 15rem; */
    padding-bottom: 15rem; 
}

h1{
	color: white;
	font-size: 50px; 
}
h2{
    color: white;
}
h3{
    color: white;
}

p{
    color: white;
}
.hidden {
	display: none;
}





/* MODO CLARO */
body.whitemode {
    background: white;
}

h1.whitemode{
	color: black;
}

h2.whitemode {
    color: black;
}

h3.whitemode {
    color: black;
}

p.whitemode{
    color: black;
}
.boton1.whitemode {
    border: 1px solid black;
    color: black;
}

.boton_pequeño.whitemode {
    background: linear-gradient(90deg, white 50%, black 50%);
    border: 2px solid black;
}








/* PORTADA */

#inicio {
    min-height: 100%;
    text-align: center;
}

#titulo_portada {
    padding-top: 20%;
}

#titulo {
    text-align: center;
    margin: 150 0 75;
    font-family: 'Inter', sans-serif;
}

#botones1{
    width: 100%;
    margin-top: 75px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 5rem;
  }

.boton1 {
    display: inline-block;
    text-align: center;
    width: 150px;
    padding: 20px;
    border: 1px solid white;
    color: white;
    font-size: 1.5em;
    transition: all 0.2s linear;
}

    .boton1:hover {
        background-color: rgb(56, 71, 70);
    }

.espaciador1 {
    display: inline-block;
    height: 10px;
    width: 160px;
}

.boton_pequeño{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    background: linear-gradient(90deg, black 50%, white 50%);
    border-radius: 20px;
    border: 2px solid white;
  }








/* CHILE */
#chile {
    min-height: 100%;
}
#info_chile{
    width: 100%;
    margin-top: 75px;
    padding-bottom: 5rem;
}
#datos_mapa_chile_1 {
    width: 500px;
    height: 500px;
    float: left;
    color: white;
    float: left;
    text-align: center;
}

#datos_mapa_chile_2 {
    width: 500px;
    height: 500px;
    float: right;
    color: white;
    float: left;
    text-align: center;
}
#mapa_chile_container {
    margin: auto;
    float: left;
}
#mapa_chile {
    height: 80%;
}

#info_chile{
    width: 100%;
    margin-top: 75px;
    padding-bottom: 5rem;
    overflow: auto; /* SUPER IMPORTANTE, NO SACAR -Javier */
}
#datos_mapa_chile_1 {
    position: relative;
    width: 500px;
    height: 500px;
    float: left;
    color: white;
    float: left;
    text-align: center;
}
.texto-encima1{
    position: absolute;
    top: 10px;
    left: 177px;
    text-decoration: underline #610402;
    text-decoration: bold;
}
.texto-encima2{
    position: absolute;
    top: 50px;
    left: 177px;
}
.text-debajo-promedio-regional{
    position: absolute;
    top: 210px;
    left: 177px;
    color: #7fc188;
}
.text-debajo-promedio-nacional{
    position: absolute;
    top: 230px;
    left: 177px;
    color: #bf7e8c;
}

#datos_mapa_chile_2 {
    position: relative;
    width: 500px;
    height: 500px;
    float: right;
    color: white;
    float: left;
    text-align: center;
}

#Capa_1{
    border: 2px double #610402;
}

#mapa_chile_container {
    margin: auto;
    float: left;
}
#mapa_chile {
    height: 80%;
    margin-left: 70px;
    margin-right: 70px;
}
#AricaParinacota,
#Tarapacá{cursor:pointer;}
#AricaParinacota:hover{opacity: 0.7;}
#Tarapacá:hover{opacity: 0.7;}










/* OCDE */
#ocde {
    min-height: 100%;
}

div#mapa_ocde {
    height: 70%;
}

div#grafico_ocde {
    height: 70%;
}

#mapa_ocde svg text tspan{
    font-size: 3em;
}









/* LA BARRA */

.container{ /* Le da margen lateral a la barra */
    margin-left: 1rem;
    margin-right: 1rem;
}

.header {
    background: #000D14;
    color: white;
    padding: 0rem 0;
    border-width: 1px;
    border-style: solid;
    border-color: white; 
    position: unset;
    left: 0;
    top: 0;
    right: 0;
}

    .header a{
        color: white;
        text-decoration: none;
    }

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    letter-spacing: 12px;
    font-weight: 800;
    font-size: 1.5em;
}

.menu-icon{
    display: none;
    }

.navigation ul{
   padding: 0;
   list-style: none; 
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.2s linear;   
    border-radius: 5px; 
}

.navigation ul li a:hover{
    background: #4a4a4a;
}

#bt_color, .boton_pequeño {
    cursor: pointer; /* esto es para que el boton tenga un cursos "clickeable" */
}

@media only screen and (max-width: 1033px){

    .menu-icon{
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
    }

    .navigation ul{
        display: none;
    }

    .navigation ul.show{
        display: block;
    }
    
    .navigation{
        width: 100%;
        margin-top: 1rem; 
    }
    
    .navigation ul li{
        display: block;
    }
    .navigation ul li a{
        display: block;
        padding: 0.5rem 0rem;
        transition: all 0.4s linear;   
        border-radius: 5px; 
    }

    .navigation ul li a:hover{
        background: #4a4a4a;
    }

}





/*LIBROS CHILE */


#datos_mapa_chile_1{
    visibility: hidden;
}
#datos_mapa_chile_2{
    visibility: hidden;
}



