#chile {
    min-height: 100vh;
    padding: 0px;
}

#info_chile {
    width: 100% !important;
    display: flex;
    /* margin-top: 75px; */
    padding-bottom: 5rem;
    overflow: auto;
}
.info_texto_chile{
    background: none;
    color: white;
    margin: 2rem;
    padding: 1rem ;
    border-width: 1px;
    border-style: solid;
    border-color: white;

}


#mapa_chile_container {
    /* float: left;
    margin: auto; */
    display: inline-block;
    margin: 0 auto;
}

#info_chile_1, #info_chile_2 {
    display: inline-block;
    margin: 0 auto;
}

#mapa_chile {
    height: 75vh;
    margin-left: 70px;
    margin-right: 70px;
}

.libro {
    width: 150px;
    height: auto;
}
#estudiar{
    height: 24px;
}
.mas_info{
    border-style: dashed;
    border-width: 0.1rem;
    border-color: #D0CECE;
    margin: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.region_cl {
    cursor: pointer;
}

#cl_prom_region1, #cl_prom_region2, #cl_prom_region3, #cl_prom_region4 {
    color: rgb(75,210,200) !important;
}
#cl_prom_chile1, #cl_prom_chile2, #cl_prom_chile3, #cl_prom_chile4 {
    color: rgb(210,78,75) !important;
}

#info_chile_1, #info_chile_2 {
    text-align: center;
}

#selector_chile {
    text-align: center;
    color: white
}
#selector_chile.whitemode {
    color: black
}


/* 
.texto-encima1 {
    position: absolute;
    top: 10px;
    left: 177px;
    text-decoration: bold;
}

.texto-encima2 {
    position: absolute;
    top: 50px;
    left: 177px;
}

.text-debajo-promedio-regional {
    position: absolute;
    top: 210px;
    left: 177px;
    color: #7fc188;
}

.text-debajo-promedio-nacional {
    position: absolute;
    top: 230px;
    left: 177px;
    color: #bf7e8c;
}

#Capa_1 {
    border: 2px double #610402;
}

#AricaParinacota,
#Tarapacá {
    cursor: pointer;
}

#AricaParinacota:hover,
#Tarapacá:hover {
    opacity: 0.7;
}

#datos_mapa_chile_1,
#datos_mapa_chile_2 {
    position: relative;
    width: 500px;
    height: 500px;
    color: #FFF;
    float: left;
    text-align: center;
    visibility: hidden;
} */



.archivo_adjunto1{
    width: 100%;
    height: 100%;
}

.archivo_adjunto2{
    width: 100%;
    margin-top: 8%;
}