/* OCDE */
#ocde {
    min-height: 100vh;
}

div#mapa_ocde {
    height: 70%;
}

div#grafico_ocde {
    height: 70%;
}

#mapa_ocde svg text tspan{
    font-size: 3em;
}
.leyendas {
	display: flex;
	justify-content: center;
	margin-top: 18px;
	margin-bottom: 18px;
}
#Leyenda-rojo {
	height: 10px;
	fill: #e52421;
}

#Leyenda-verde{
	height: 10px;
	fill: #078136;	
}

#Leyenda-cyan{
	height: 10px;
	fill: #6ec6d9;
}
.parte-leyendat{
	margin: 0;
}

#info_ocde11, #info_ocde12, #info_ocde13, #info_ocde14{
	font-size: 22px;
}

#info_ocde21, #info_ocde22, #info_ocde23, #info_ocde24{
	font-size: 22px;
}

